button{
    border: none;
    background-color: transparent;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.map-pin-b1,.map-pin-b2,.map-pin-b3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 8px;
}
.map-pin-b1{
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: transparent;
    border-color:rgba(6, 181, 212, 0.5);
}
.map-pin-b2{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    border-color: rgb(6, 181, 212);
}
.map-pin-b3{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    border:none
}
