.page-home{
    width:100% ;
    height: 100vh;
    background-color: var(--bg-color) ;
    display: flex;
    justify-content: space-between;
}

.page-main{
    width:100%;
    height:100% ;
    background-color:var(--bg-color) ;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    gap: 2rem ;
}
.page-header{
    width:100%;
    height: 5rem;
    top: 0;
    left: 0;
    background-color: var(--bg-header);
    -webkit-background-composite:1;
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    gap: 2rem;
    color: white;
    font-size: 8pt;
    border-bottom: solid 2px var(--border-color);
}
.page-header img{
    width:3rem;
}
.page-map{
    width:44rem;
    height:30rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    animation: open-aboult 1s;
    position: relative;
}
.page-map img{
    width:40rem;
}

